td {
    border:  1px solid gray;
    padding: 8px;
    text-align: center;
    width: 10%;
}
.th{
    font-weight: bold;
    text-align: center;
    border: none;
    width: 8%;
}
.tdn, .thn {
    width: 2%;
    font-weight: bold;
}

.thn {
    border: none;
}

.moviesWithAuto{
    background: none;
    border: none;
    width: 8%;
}
.deleteBtn{
    font-weight: bold;
    color:red;
}
.mainTitle{
    text-align: center;
    margin-top: 20px;
}
table{
    width: 80%;
    margin: 0 auto;
}
.addAutoLink{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.filterForm{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 65px;
}
.priceSortBtn{
    font-weight: bold;
    border: none;
    background:none;
    color: blue;
}
.priceSortBtn:hover{
    color: darkblue;
    text-decoration: underline;
}
