h2{
    margin: 10px auto;
    text-align: center;
}
.autoDescr{
    text-align: center;
    margin: 0 auto;
}
.hr{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
.descrBlock{
    margin: 10px auto;
    font-size: 20px;
}

#lastName{
    margin-bottom: 15px;
}

label{
    font-weight: bold;
}
.inputElement{
    width: 500px;
    height: 35px;
}
.sendForm{
    margin: 0 auto;
    text-align: center;
    margin-top: 20px
}
