<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="head_default.html"></th:block>
    <link rel="stylesheet" href="../static/css/addMarkModelBodyStyle.css" th:href="@{/css/addMarkModelBodyStyle.css}">
    <title>Adding</title>
</head>
<header th:replace="header_admin.html :: header"></header>
<body>
<h1 class="titleStr">Add new mark, model or body</h1>
<div class="containerWithFields">
    <hr>
    <div>
        <h3>Mark adding</h3>
        <form action="#" th:action="@{/admin/addingmark}" method="post">
            <label for="addingNewMArk">New mark name:</label>
            <input type="text" placeholder="Input name of new mark" name="addmark" id="addingNewMArk">
            <input type="submit" value="save">
        </form>
    </div>
    <hr>
    <div>
        <h3>Model adding</h3>
        <form action="#" th:action="@{/admin/addingmodel}" method="post">
            <label for="autoMark">Choose mark:</label>
            <select name="mark" id="autoMark">
                <option th:each="mark : ${marks}" th:value="${mark.id}" th:text="${mark.mark_name}">
                </option>
            </select>
            <br>
            <label for="newModelName">New model name:</label>
            <input type="text" id="newModelName" placeholder="Input new name for model" name="addmodel">
            <input type="submit" value="save">
        </form>
    </div>
    <hr>
    <div>
        <h3>Body adding</h3>
        <form action="#" th:action="@{/admin/addingbody}" method="post">
            <label for="newBodyName">New body name:</label>
            <input type="text" id="newBodyName" placeholder="Input new name of body" name="addbody">
            <input type="submit" value="save">
        </form>
    </div>
</div>
<th:block th:insert="bootstrapjs.html"></th:block>
</body>
<footer th:replace="footer.html ::footer"></footer>
</html>