<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="head_default.html"></th:block>
    <link rel="stylesheet" href="../static/css/auto_catalog.css" th:href="@{/css/auto_catalog.css}">
    <title>Catalog</title>
</head>
<header th:replace="header_admin.html :: header"></header>
<body>
<h3 class="titleParam">Search by parameters:</h3>
<form action="#" th:action="@{/catalog}" class="paramForm">
    <label for="mark">Mark:</label>
    <select id="mark" name="mark">
        <option th:value="null"></option>
        <option th:each="mark : ${marks}" th:value="${mark.id}" th:text="${mark.mark_name}" th:selected="${currentMark} == ${mark}? 'selected'">
        </option>
    </select>

    <label for="model">Model:</label>
    <select id="model" name="model">
        <option th:value="null"></option>
        <option th:each="model : ${models}" th:value="${model.id}" th:text="${model.model_name}" th:selected="${currentModel} == ${model}? 'selected'">
        </option>
    </select>

    <label for="body">Body:</label>
    <select id="body" name="body">
        <option th:value="null"></option>
        <option th:each="body : ${bodys}" th:value="${body.id}" th:text="${body.body_name}" th:selected="${currentBody} == ${body}? 'selected'">
        </option>
    </select>

    <label for="trans">Transmission:</label>
    <select id="trans" name="transmission">
        <option th:value="null"></option>
        <option th:each="trans : ${transmissions}" th:value="${trans.id}" th:text="${trans.transmission_type}" th:selected="${currentTrans} == ${trans}? 'selected'">
        </option>
    </select>

    <label for="motor">Motor:</label>
    <select id="motor" name="motor">
        <option th:value="null"></option>
        <option th:each="motor : ${motors}" th:value="${motor.id}" th:text="${motor.motor_type}" th:selected="${currentMotor} == ${motor}? 'selected'">
        </option>
    </select>

    <div>
        <label>Min price: </label><input pattern="^[ 0-9]+$" type="text" name="minPrice" placeholder="min price" th:value="${currentMinPrice}">
        <label>Max price: </label><input pattern="^[ 0-9]+$" type="text" name="maxPrice" placeholder="max price" th:value="${currentMaxPrice}">
    </div>
    <div>
        <label>Min year: </label><input pattern="^[ 0-9]+$" type="text" name="minYear" placeholder="min year" th:value="${currentMinYear}">
        <label>Max year: </label><input pattern="^[ 0-9]+$" type="text" name="maxYear" placeholder="max year" th:value="${currentMaxYear}">
    </div>
    <br>
    <input type="submit" value="Search" class="btn btn-outline-dark my-2 my-sm-0">
</form>
<div class="titleCatalog">
    <h3 th:text="'Found ' + ${autoList.size()} + ' autos'"></h3>
    <br>
    <h3>Catalog</h3>
    <hr class="firstHr">
</div>
<div th:each="auto : ${autoList}">
    <div th:id="${auto.id}">
        <div class="autoParameters">
            <div style="width: 50%">
                <a th:href="@{/catalog/auto/{id}(id = ${auto.id})}">
                    <img th:src="${auto.photo_link}" alt="no, sorry" class="autoPhoto">
                </a>
            </div>
            <div style="width: 50%">
                <div class="markAndModel">
                    <a class="linkMarkModel" th:href="@{/catalog/auto/{id}(id = ${auto.id})}">
                        <span style="font-size: 21px" th:text="${auto.mark.mark_name} + ' ' + ${auto.model.model_name}"></span>
                        <br>
                        <span style="font-size: 21px" th:text="${auto.body.body_name}"></span>
                    </a>

                    <div class="containerForAutoParameters">
                        <span th:text="${auto.year} + ' y.'"></span>
                        <br>
                        <span th:text="${auto.motor.motor_type} + ', '"></span>
                        <span th:text="${auto.transmission.transmission_type}"></span>
                    </div>
                    <div style="width: 30%; text-align: center">
                        <div th:text="${auto.cost} +' $'"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="inCatalogHr">
    </div>
</div>
<th:block th:insert="bootstrapjs.html"></th:block>
</body>
<footer th:replace="footer.html ::footer"></footer>
</html>