<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="head_default.html"></th:block>
    <title>Autos</title>
</head>
<header th:replace="header_admin.html :: header"></header>
<body>
<h1 class="mainTitle">All Autos</h1>
<div class="containerr">
    <table>
        <tr>
            <td class="thn">num.</td>
            <td class="th">Mark</td>
            <td class="th">Model</td>
            <td class="th">Body</td>
            <td class="th">Cost</td>
            <td class="th">Year</td>
            <td class="moviesWithAuto"></td>
        </tr>
        <tr th:each="auto : ${autoList}">
            <td th:text="${auto.id}" class="tdn"></td>
            <td th:text="${auto.mark.mark_name}"></td>
            <td th:text="${auto.model.model_name}"></td>
            <td th:text="${auto.body.body_name}"></td>
            <td th:text="${auto.cost}" class="autoCost"></td>
            <td th:text="${auto.year}" class="autoYear"></td>
            <td><a th:href="@{/update/{id}(id = ${auto.id})}">Update</a></td>
            <td><a th:href="@{/delete/{id}(id = ${auto.id})}" class="deleteBtn">Delete</a></td>
        </tr>
    </table>
    <div class="addAutoLink">
        <a href="/add">Add new auto</a>
    </div>
</div>
<th:block th:insert="bootstrapjs.html"></th:block>
<script src="../static/js/addTextToCeil.js" th:src="@{/js/addTextToCeil.js}">

</script>
</body>
</html>