<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:insert="head_default.html"></th:block>
    <title>Log in</title>
</head>
<body>
<div style="margin: 0 auto">
    <div th:if="${param.error}" style="text-align: center">
       <a style="color: red">Invalid username and password.</a>
    </div>
    <div sec:authorize="isAuthenticated()" style="text-align: center;margin-top: 15px">
        <form th:action="@{/logout}" method="post">
            <a>You are logged in as </a>
            <a th:text="${#authentication.name}"></a>
            <input class="btn btn-danger" type="submit" value="Log out">
        </form>
    </div>
    <form th:action="@{/login}" method="post" style="text-align: center">
        <h3>Log in!</h3>
        <label for="usernameId" style="display: block">User name:</label>
        <input type="text" name="username" id="usernameId" placeholder="login" style="width: 300px" required/>
        <label for="passId" style="display: block">Password: </label>
        <input type="password" name="password" id="passId" placeholder="password" style="width: 300px" required/>
        <div style="margin-top: 25px"><input type="submit" value="Sign In" class="btn btn-outline-dark my-2 my-sm-0"/></div>
    </form>
    <hr style="margin: 0 auto; text-align: center; width: 20%; margin-top: 10px; margin-bottom: 10px">
    <div style="text-align: center">
        <a th:href="@{/registration}">Sign up</a>
    </div>

</div>
<th:block th:insert="bootstrapjs.html"></th:block>
</body>
</html>